<form 
    [formGroup]="form"
    class="d-flex flex-column">
    <mat-form-field>
        <mat-label>Course</mat-label>
        <input
          matInput
          type="text"
          formControlName="name" placeholder="Enter course name"/>
        @if (form.get("name").invalid && form.get("name").touched) {
          <mat-error>Course is required</mat-error>
        }
    </mat-form-field>
</form>
<button mat-flat-button role="button" color="primary" class="d-inline" (click)="insertCourse()">Insert</button>
<button mat-flat-button role="button" color="primary" class="d-inline m-lg-2" (click)="goBack()">Back</button>